<section class="row">
  <div class="col s12">
    <h2>Cupcakes</h2>
  </div>
</section>
<section class="row">
  <div class="col s12 m8">
    {{#each model as |cupcake|}}
      <div class="row">
        <div class="col s12">
          {{#cupcake-panel cupcakeData=cupcake}}
            {{rating-widget ratings=cupcake.ratings alreadyRated=cupcake.hasRatings summary=cupcake.summaryRating}}
          {{/cupcake-panel}}
        </div>
      </div>
    {{/each}}
  </div>
  <div class="col s12 m4">
    <div class="card red white-text">
      <div class="row">
        <div class="col s10 offset-s1">
          <h3>Sidebar</h3>
        </div>
      </div>
    </div>
  </div>
</section>
{{outlet}}
